// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;
$SEARCH_FORM: #b5b5b5;
$MODAL_BACKGROUND: #1f1f1f;

// Chromatic
$RED1: #ff1717;
$RED2: #f14141;
