.navContainer {
  position: fixed;
  top: 0;
  left: 5px;
  height: 100vh;
  width: 150px;
  .logoWrapper {
    position: absolute;
    top: 25px;
    left: 70px;
  }
  .navClose {
    width: 93px;

    transition: width 300ms;
    position: absolute;
    top: 100px;
    left: 10px;

    a {
      text-decoration: none;
      color: black;
      li {
        list-style: none;
        height: 50px;
        width: 100%;
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }
  .navOpen {
    width: 340px;
  }
}
