/* stylelint-disable selector-class-pattern */
.H1 {
  font-size: 28px;
}

.H2 {
  font-size: 25px;
}

.H3 {
  font-size: 20px;
}

.B1 {
  font-size: 16px;
}

.B2 {
  font-size: 14px;
}

.B3 {
  font-size: 12px;
}

.regular {
  font-weight: 400;
}
